Source: cl-dtg-make-vm
Section: python
Priority: optional
Maintainer: Oliver Chick, <oliver.chick--debian@cl.cam.ac.uk>
Build-Depends: debhelper (>= 7),
               python (>= 2.6.6-3~)
Standards-Version: 3.9.2
X-Python-Version: >= 2.6


Package: cl-dtg-make-vm
Architecture: all
Section: python
Depends: fabric
Description: Scripts for doing magic with VMs in the DTG husky cluster:
 -A script to create a puppy
 -A script to put live puppies in the DMZ
 -A script to kill puppies
